body {
	font-family: "Lucida Grande", Lucida, Verdana, "Helvetica Neue", Helvetica, sans-serif;
	background: #fefefe;
	background-size: 100%;
	color: #2e2d29;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	border-bottom: 20px solid #8C1515;
}

h1, h2, h3, h4, h5, h6, h7, p {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	display: inline !important;
}

/* Dark Red */ h1 {
	color: #820000;
}

/* Black 80% */ h2 {
	color: #585754;
}

/* Pantone: 3145 */ h3 {
	color: #007C92;
}

/* Pantone: 334 */ h4 {
	color: #009B76;
}

/* Pantone: 144 */ h5 {
	color: #E98300;
}

/* Light Blue */  h6 {
	color: #2685bf;
}

/* Light */ h7 {
	color: #f2f2f2;
}

/* Dark */ h8 {
	color: #0d0d0d;
}

a {
	font-style: normal;
	background: #2685BF;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px 9px;
}

img {
	max-width: 90%;
	max-height: 50%;
}

img.border {
	border: 10px solid #fefefe;
	-webkit-box-shadow: 0 2px 5px #777;
	   -moz-box-shadow: 0 2px 5px #777;
	        box-shadow: 0 2px 5px #777;
}

div {
	cursor: pointer;
	cursor: hand;
	position: absolute;
	text-align: center;
	display: block;
	width: auto;
	height: auto;
	margin-top: -10px;
}

li {
	text-align: left;
	line-height: 1.618em;
}
